html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/img/background.png");
    height: 100%;
    background-position: center;
    background-size: cover;
}

p {
    margin: 0;
}

.yellowFrame, .greenFrame {
    display: none;
    margin: 0 0 20 30px;
    width: 60px;
    height: 60px;
    position: relative; 
}

.yellowFrame {
    background-color:yellow;
}

.greenFrame {
    background-color:green;
}

.climbs {
    font-size: medium;
    padding: 20px;
}

label {
    margin-left: 20px;
    color: #1b1b1b;
}

input {
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    color: #6b6b6b;
}

.input-block {
    position: relative;
}

.warning {
    display: none;
    margin: 2 2 10 10px;
}